@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Pacifico");

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.container{
            position: absolute;
            top:30%;
            left: 50%;
            text-transform: translate(-50%,50%);
        }
.row{
  background: darkviolet;
  width:300px; 
  height:200px;
  border:3px solid pink;
  border-radius: 5%;
  box-shadow: 5px 10px pink;
}
.form-group h1{
  margin:10px;
  font-size: 19px;
  text-align: center;
 font-family: "Pacifico", cursive;
 color:white;
 font-weight: 500;
  
}
label{
  color: hotpink;
  font-family: "Pacifico", cursive;
  animation: zip 3s infinite;
  
}
@keyframes zip {
  0%   {color: pink;}
  25%  {color: white;}
  50%  {color: pink;}
  75%  {color: white;}
  100% {color: pink;}
}

h1{
  animation: name 3s infinite;
}
@keyframes name {
  0%   {color: pink;}
  25%  {color: white;}
  50%  {color: pink;}
  75%  {color: white;}
  100% {color: pink;}
}